DATABASE_URL
ZENLESS_REPO=
SENTRY_DSN=
API_KEY=
#RUST_LOG=debug

ENABLE_UPDATE_HSR_ACHIEVEMENTS_PERCENT=false
ENABLE_UPDATE_ZZZ_ACHIEVEMENTS_PERCENT=false
ENABLE_UPDATE_GI_ACHIEVEMENTS_PERCENT=false
ENABLE_UPDATE_DIMBREATH_HSR=false
ENABLE_UPDATE_DIMBREATH_ZZZ=false
ENABLE_UPDATE_DIMBREATH_GI=false
ENABLE_UPDATE_STAR_RAIL_RES=false
ENABLE_UPDATE_SCORES=false
ENABLE_UPDATE_WARPS_STATS=false
ENABLE_UPDATE_SIGNALS_STATS=false
ENABLE_UPDATE_WISHES_STATS=false
ENABLE_UPDATE_ACHIEVEMENT_TRACKERS=false
ENABLE_UPDATE_SITEMAPS=false