[build]
default-target = "x86_64-unknown-linux-gnu"
pre-build = [
    "apt-get update",
    "apt-get install build-essential pkg-config libssl-dev -y",
]

[build.env]
passthrough = ["SQLX_OFFLINE=true"]

[target.x86_64-unknown-linux-gnu]
image = "ubuntu:22.04"
